/.idea
.DS_Store
__pycache__
/venv
/.vscode
/analysis
traditional/rerank/msmarco_pass_qld_rerank.dev.small.txt
traditional/rerank/msmarco_pass_qljm_rerank.dev.small.txt
traditional/rerank/msmarco_pass_qld_rerank.dev.small.trec.res
traditional/rerank/msmarco_pass_qljm_rerank.dev.small.trec.res
data/pass_rerank/query/pass-query-dev.small.txt
data/pass_rerank/runs/
data/pass_train/pass_query_pairs.train.tsv
data/pass_train/qrels.train.6980.tsv
data/pass_train/qrels.train.tsv
data/pass_train/queries.train.6980.tsv
data/pass_train/queries.train.tsv
data/pass_train/tune_sdm/
eval_file_for_sig_test/
images/bm25+t5.eval
images/bm25-ndcg.10.eval
images/bm25.eval
images/bm25_T5QLM-ndcg.10.eval
images/comparison.png
images/gain_comparison.png
images/ndcg_gain_comparison.png
images/qld+t5.eval
images/qld-ndcg.10.eval
images/qld.eval
images/qld_t5-ndcg.10.eval
images/qljm+t5.eval
images/qljm-ndcg.10.eval
images/qljm.eval
images/qljm_t5-ndcg.10.eval
inst_eval.txt
traditional/first_stage/runs/
traditional/rerank/converter.py
traditional/rerank/runs/
traditional/rerank/t5_rerank_BM25_1000-1_lower.res
traditional/rerank/t5_rerank_BM25_1000-1_lower.trec.res
traditional/rerank/t5_rerank_Dirichlet_1000-1_lower.res
traditional/rerank/t5_rerank_Dirichlet_1000-1_lower.trec.res
traditional/rerank/t5_rerank_JelinekMercer_1000-1_lower.res
traditional/rerank/t5_rerank_JelinekMercer_1000-1_lower.trec.res