/.idea
.DS_Store
__pycache__
/venv
/.vscode
/analysis
traditional/rerank/msmarco_pass_qld_rerank.dev.small.txt
traditional/rerank/msmarco_pass_qljm_rerank.dev.small.txt
traditional/rerank/msmarco_pass_qld_rerank.dev.small.trec.res
traditional/rerank/msmarco_pass_qljm_rerank.dev.small.trec.res
