/.idea
.DS_Store
__pycache__
/venv

/data/doc_rerank/collection_jsonl/*.json
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.fdt
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.fdx
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.fnm
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.nvd
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.nvm
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.si
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.tvd
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.tvx
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.doc
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.pos
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.tim
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.tip
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.dvd
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/*.dvm
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/segments_1
/data/doc_rerank/index/lucene-index.msmarco-doc.pos+docvectors+rawdocs/write.lock
/data/doc_train/doc_query_pairs.train.tsv
/data/pass_rerank/collection_jsonl/*.json
/data/pass_rerank/index/lucene-index-msmarco/*.fdt
/data/pass_rerank/index/lucene-index-msmarco/*.fdx
/data/pass_rerank/index/lucene-index-msmarco/*.fnm
/data/pass_rerank/index/lucene-index-msmarco/*.nvd
/data/pass_rerank/index/lucene-index-msmarco/*.nvm
/data/pass_rerank/index/lucene-index-msmarco/*.si
/data/pass_rerank/index/lucene-index-msmarco/*.tvd
/data/pass_rerank/index/lucene-index-msmarco/*.tvx
/data/pass_rerank/index/lucene-index-msmarco/*.doc
/data/pass_rerank/index/lucene-index-msmarco/*.pos
/data/pass_rerank/index/lucene-index-msmarco/*.tim
/data/pass_rerank/index/lucene-index-msmarco/*.tip
/data/pass_rerank/index/lucene-index-msmarco/*.dvd
/data/pass_rerank/index/lucene-index-msmarco/*.dvm
/data/pass_rerank/index/lucene-index-msmarco/segments_1
/data/pass_rerank/index/lucene-index-msmarco/write.lock
/data/pass_rerank/run.msmarco-passage.dev.full.tsv
/data/pass_rerank/run.msmarco-passage.dev.small.tsv
/data/pass_rerank/run.msmarco-passage.eval.tsv
/model/t5-base/model.ckpt-1004000.data-00000-of-00002
/model/t5-base/model.ckpt-1004000.data-00001-of-00002
/model/t5-base/model.ckpt-1004000.index
/model/t5-base/model.ckpt-1004000.meta
/data/doc_rerank/qrels/qrels.msmarco-doc.dev.txt
/data/doc_rerank/query/doc-msmarco-dev-queries.json
/data/doc_rerank/query/doc-msmarco-test2020-queries.json
/data/doc_rerank/formatted_run.msmarco-doc.dev.bm25.tuned.txt
/data/doc_rerank/formatted_run.msmarco-doc.test.bm25.tuned.txt
/data/pass_rerank/qrels/pass-qrels.msmarco-dev.full.txt
/data/pass_rerank/qrels/qrels.dev.small.tsv
/data/pass_rerank/query/pass-queries.dev.json
/data/pass_rerank/query/pass-queries.eval.json
/data/pass_rerank/query/pass-query-dev.small.json
/data/pass_train/gpt2_formatted_pass_query_pairs.train.tsv
/data/pass_train/pass_query_pairs.train.tsv
/data/doc_train/gpt2_formatted_doc_query_pairs.train.tsv
/data/doc_train/t5_formatted_doc_query_pairs.train.tsv