If you can look past its bargain interior and anonymous exterior, the Suzuki SX4 is one of the most reliable and affordable all-wheel-drive cars. 	most dependable affordable cars
Lithophile elements [edit]. Lithophile elements are those that remain on or close to the surface because they combine readily with oxygen, forming compounds that do not sink into the core.anganese, iron and molybdenum do form strong bonds with oxygen but in the free state (as they existed on the primitive earth when free oxygen did not exist) can mix so easily with iron that they do not concentrate in the siliceous crust as do true lithophile elements. 	lithophile definition